<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
    Company
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="../../assets/icon/nomura.png" />
    <ion-card-header>
      <ion-card-title>Nomura</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Domain
• * 1-3 years of experience either in Market risk or Credit risk with good understanding of risk modelling.
• Good understanding of mathematical concepts like probability, statistics, calculus, linear algebra.
• Good knowledge of Python, SQL, Matlab, VBA.
• Good understating of financial products (Bonds, Derivatives)
• A strong Mathematical/Statistical background.
• Actuaries (Cleared at least 3 CT papers) would be advantage
• Good inclination for programming in python
• FRM/PRM/CFA certification would be added advantage
<ion-button color="success"  shape="round" fill="outline" expand="block" (click)="applyForm()" >Apply</ion-button>

</ion-card-content>

  </ion-card>

  <ion-card>
    <img src="../../assets/icon/tcs.png" />
    <ion-card-header>
      <ion-card-title>Tata Consultancy Srvices</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Domain
• * 1-3 years of experience either in Market risk or Credit risk with good understanding of risk modelling.
• Good understanding of mathematical concepts like probability, statistics, calculus, linear algebra.
• Good knowledge of Python, SQL, Matlab, VBA.
• Good understating of financial products (Bonds, Derivatives)
• A strong Mathematical/Statistical background.
• Actuaries (Cleared at least 3 CT papers) would be advantage
• Good inclination for programming in python
• FRM/PRM/CFA certification would be added advantage
<ion-button color="success"  shape="round" fill="outline" expand="block" (click)="applyForm()" >Apply</ion-button>

</ion-card-content>

  </ion-card>


  <ion-card>
    <img src="../../assets/icon/ms.png" />
    <ion-card-header>
      <ion-card-title>Microsoft</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Domain
• * 1-3 years of experience either in Market risk or Credit risk with good understanding of risk modelling.
• Good understanding of mathematical concepts like probability, statistics, calculus, linear algebra.
• Good knowledge of Python, SQL, Matlab, VBA.
• Good understating of financial products (Bonds, Derivatives)
• A strong Mathematical/Statistical background.
• Actuaries (Cleared at least 3 CT papers) would be advantage
• Good inclination for programming in python
• FRM/PRM/CFA certification would be added advantage
<ion-button color="success"  shape="round" fill="outline" expand="block" (click)="applyForm()" >Apply</ion-button>

</ion-card-content>

  </ion-card>

  <ion-card>
    <img src="../../assets/icon/info.jpg" />
    <ion-card-header>
      <ion-card-title>Inofsys</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Domain
• * 1-3 years of experience either in Market risk or Credit risk with good understanding of risk modelling.
• Good understanding of mathematical concepts like probability, statistics, calculus, linear algebra.
• Good knowledge of Python, SQL, Matlab, VBA.
• Good understating of financial products (Bonds, Derivatives)
• A strong Mathematical/Statistical background.
• Actuaries (Cleared at least 3 CT papers) would be advantage
• Good inclination for programming in python
• FRM/PRM/CFA certification would be added advantage
<ion-button color="success"  shape="round" fill="outline" expand="block" (click)="applyForm()" >Apply</ion-button>

</ion-card-content>

  </ion-card>

</ion-content>
